node_modules
.next
.git
.gitignore
.env*
*.db
*.db-journal
dev.log
debug-storybook.log
storybook-static
.storybook
.playwright
.tmp
.cursor
.vscode
.agents
coverage
documents
resources
**/*.test.ts
**/*.test.tsx
**/tests
e2e
playwright-report
test-results
.github
playwright.config.ts
vitest.config.ts
vitest.shims.d.ts
vtiest.setup.ts
compose.yml
README.md
LICENSE
